body{
    display: flex;
    width: calc(100% - 10px);
    margin: 0;
    background-color: #0367A6;
    font-family: "Popins", sans-serif;
}
.container{
    width: 100vw;
    height: 100vh;
}
img {
    user-select: none;
}
.forms{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 150px;
    width: 500px;
    color:#fff;
    user-select: none;

}

#circulo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    float: left;
    width: 775px;
    height: 775px;
    shape-outside: circle(50% at 30%);
    clip-path: circle(50% at 5%);
    background: #fff;
    user-select: none;
  }

#circulo img{
  width: 400px;
  user-select: none;
}
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0;
    padding: 0;
    color: #fff;
    font-weight: bold;
    user-select: none;

}

/* RESPONSIVIDADE */
@media (max-width: 1500px){
    body{
        display:flex;
        align-items: center;
        justify-content: space-between;
        margin: 0;
    }
    #circulo{
        max-width: 800px;
        max-height: 800px;
    }
    .forms{
        margin-top: 75px;
        max-width: 320px;
        max-height: 700px;
    }
}

@media (min-width:901px) and (max-width:1228px){
   .forms{
    position: absolute;
    top: 2%;
    right: 10%;
   }
}

@media (max-width: 900px) {
   body{
    width: 100% ;
   }
    #circulo{
        display: none;
    }
    .container{
        display: flex;
        justify-content: center;
        margin: auto;
    }
    .forms{
        max-width: 80%;
    }
}
  @media (max-width: 400px) {
    body{
        margin:10px;
    }
    .forms{
       max-width: 80%;
    }
    
  }
  