body{
    display: flex;
    width: calc(100%);
    margin: 0;
    background-color: #0367A6;
    font-family: "Popins", sans-serif;
}
img {
    user-select: none;
}
.forms-title{
    color: #fff;
}
.container{
    width: 100vw;
}

.forms{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#circulo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    float: left;
    width: 775px;
    height: 775px;
    shape-outside: circle(50% at 30%);
    clip-path: circle(50% at 5%);
    background: #fff;
    user-select: none;
  }

#circulo img{
  width: 400px;
  user-select: none;
}

.form-grid{
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr; /* Duas colunas com largura igual */
    grid-template-rows: repeat(3, 1fr); /* Três linhas com altura igual */
    grid-gap: 50px; /* Espaçamento entre as colunas e linhas */
}

.form-grid-inputs{
    border-radius: 5px;
    border-width: 0px;
    border: none;
    height: 25px;
    width: 200px;
    padding-left:15px ;
}



.form-grid-item {
    display: flex;
    flex-direction: column;
    padding: 10px;
    text-align: start;
}

.form-grid-item-label{
    font-size: 18px;
    color: #ffff;
    margin-bottom: 5px;
}



/* RESPONSIVIDADE */
@media (max-width: 1500px){
    body{
        display:flex;
        align-items: center;
        justify-content: space-between;
        margin: 0;
    }
    #circulo{
        max-width: 800px;
        max-height: 800px;
    }
    .forms{
        margin-top: 75px;
        max-width: 320px;
        max-height: 700px;
    }
}

@media (min-width:901px) and (max-width:1228px){
   .forms{
    position: absolute;
    top: 2%;
    right: 10%;
   }
}


@media (max-width: 900px) {
    body{
        width: 100% ;
       }
        #circulo{
            display: none;
        }
        .container{
            display: flex;
            justify-content: center;
            margin: auto;
        }
        .forms{
            max-width: 80%;
        }
}
  @media (max-width: 400px) {
    body{
        margin:10px;
    }
    .forms{
        max-width: 250px;
        max-height: 650px;
    }
    .forms input{
        max-width: 220px;
    }
    .forms button{
        max-width: 200px;
    }
  }
  