body{
    display: flex;
    width: calc(100%);
    margin: 0;
    background-color: #0367A6;
    font-family: "Poppins", sans-serif;
}
img {
    user-select: none;
}

h2 {
    font-size: 2em ;
}

.forms-title{
    color: #fff;
}
.container{
    width: 100vw;
}

.forms{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#circulo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    float: left;
    width: 775px;
    height: 775px;
    shape-outside: circle(50% at 30%);
    clip-path: circle(51% at 5%);
    background: #fff;
    user-select: none;
  }

#circulo img{
  width: 400px;
  user-select: none;
}

.form-grid{
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr; /* Duas colunas com largura igual */
    grid-template-rows: repeat(3, 1fr); /* Três linhas com altura igual */
    grid-gap: 50px; /* Espaçamento entre as colunas e linhas */
}

.form-grid-inputs{
    background-color: #FFFFFF;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.form-grid-item {
    display: flex;
    flex-direction: column;
    padding: 10px;
    text-align: start;
}

.form-grid-item-label{
    font-size: 1rem;
    font-weight: 400 !important;
    color: #ffff;
    margin-bottom: 1rem;
}

/* Estilos gerais */
.file-upload-container {
    display: flex;
    align-items: center;
    gap: 10px; /* Espaço entre o input e o botão */
}

/* Estilos para o container que envolve o select */
.select-container {
    position: relative;
    display: inline-block;
}

/* Estilização para o select */
.form-select {
    width: 100%;
    border-radius: 5px;
    border-width: 0px;
    padding: 10px 20px;
    border-radius: 5px; /* Bordas arredondadas */
    appearance: none; /* Removendo estilos padrão */
    -webkit-appearance: none; /* Removendo estilos padrão para navegadores Webkit */
    -moz-appearance: none; /* Removendo estilos padrão para navegadores Firefox */
    background-color: #FFFFFF; /* Cor de fundo */
    cursor: pointer; /* Estilo de cursor ao passar o mouse */
    outline: none; /* Removendo destaque ao selecionar */
}

/* Estilização para a seta (ícone) do select */
.select-arrow {
    position: absolute;
    right: 15px; /* Posicionando à direita */
    top: 50%; /* Centralizando verticalmente */
    transform: translateY(-50%); /* Ajustando a centralização vertical */
    font-size: 12px; /* Tamanho da fonte do ícone da seta */
    color: #777; /* Cor da seta */
    pointer-events: none; /* Fazendo com que o ícone da seta não responda a eventos de clique */
}


/* Estilizando o input de arquivo */
.form-control {
    display: none; /* Ocultando o input padrão */
}

/* Estilizando o label do input */
.input-group-text {
    background-color: #FFFFFF;
    border: 1px solid #ccc;
    border-radius: 5px; /* Bordas arredondadas */
    padding: 10px 20px; /* Espaçamento interno */
    cursor: pointer; /* Estilo de cursor ao passar o mouse */
    display: flex;
    align-items: center;
    gap: 5px; /* Espaço entre o ícone e o texto */
    font-size: 14px; /* Tamanho da fonte */
}

/* Ícone de link simbolizando o upload */
.input-group-text::before {
    content: "\1F517"; /* Código Unicode do ícone de link */
    display: inline-block;
    font-size: 14px;
    margin-right: 5px; /* Espaço entre o ícone e o texto */
}


h3 {
    padding: 10px;
    margin-top: 1em;
    color: #fff;
    font-size: 1.25em;
}


/* Estilos da tabela */
table {
    margin: 10px;
	border-collapse: collapse;
	margin-bottom: 2rem !important;
    background-color: #fff;
    border-radius: 10px !important;
}


th {
	background-color: #f5f5f5;
	padding: 1em !important;
	text-align: left;
	font-weight: 700 !important;
}

.icones-th, .icon-container svg:hover {
	cursor: pointer;
}


/* Estilos dos ícones */
.icon {
	width: 20px;
	height: 20px;
	margin-right: 5px;
}

.icon:last-child {
	margin-right: 0;
}

/* Adicionando estilo zebra à tabela */
tbody tr:nth-child(odd) {
	background-color: #f9f9f9;
}

td {
	padding: 1em !important;
	text-align: left;
}

.cb1 {
	accent-color: #2ED47A;
	font-size: 1em;
	color: #fff !important;
	cursor: pointer;
}

.inputs-dias {
    margin-left: 10px;
    background-color: #fff;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer !important;
}



@media (max-width: 3000px){
    .forms{
        margin-top: 75px;
        align-items: start;

    }
}

/* RESPONSIVIDADE */
@media (max-width: 1500px){
    body{
        display:flex;
        align-items: center;
        justify-content: space-between;
        margin: 0;
    }
    #circulo{
        max-width: 800px;
        max-height: 800px;
    }
    .forms{
        margin-top: 50px;
        max-height: 800px;
    }
}

@media (min-width:1051px) and (max-width:1400px){
    
   .forms{
    position: absolute;
    top: 2%;
    right: 10%;
   }
}


@media (max-width: 1050px) {
    body{
        width: 100% ;
       }
        #circulo{
            display: none;
        }
        .container{
            display: flex;
            justify-content: center;
            margin: auto;
        }
        .forms{
            max-width: 80%;
        }
        .form-grid-inputs{
            width: 150;
        }
}
  @media (max-width: 600px) {
    .form-grid{
        margin-top: 60px;
        display: grid;
        grid-template-columns: 1fr; /* Duas colunas com largura igual */
        grid-template-rows: repeat(6, 1fr); /* Três linhas com altura igual */
        grid-gap: 50px; /* Espaçamento entre as colunas e linhas */
        min-height: fit-content;
    }
    html{
        min-height: fit-content;
    }
    body{
        height: 900px;
    }
  }
  