body{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0;
    font-family: "Poppins";
}

img{
    width: 100%;
    height: 80vh;	
}


button{
    background: none;
    border: none;
    text-decoration: underline;
    cursor: pointer;
    font-size: 1.2em;
}
