body {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 0;
    font-family: "Poppins";
    background-color: #0367A6;
    color: #fff;
}

img {
    width: 100%;
    height: 80vh;
}

button {
    background: #fff;
    width: 15%;
    padding: 15px;
    font-weight: bold;
    border-radius: 10px;
    border:none;
    cursor: pointer;
    font-size: 1.1em;
    color:#0367A6;
  
}

h2{
    padding: 20px;
    margin: 20px;
}