@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

/* FONTES E CORES GLOBAIS */
:root {
    --color-blue: #0487D9;
    --color-blue-dark: #0367A6;
    --color-blue-light: #048ABF;
    --color-pink: #CDB3C0;
    --color-grey: #A3AFBF;
    --color-text-black: #192A3E;
    --color-table-grey: #00000002;
    --color-table-ice: #F5F5F7;
    --color-white: #FFF;
}

*{ 
    font-family: 'Poppins', sans-serif;
}

/* RESETANDO CSS PADRÃO */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
}

h1 {
    font-size: 3.75rem;
    font-weight: 600;
}

h2 {
    font-size: 2.5rem;
    font-weight: 400;
}


/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
body::-webkit-scrollbar {
    width: 0.5em;
  }
  body::-webkit-scrollbar-track {
    background-color: #F5F5F7;
  }
  body::-webkit-scrollbar-thumb{
    background-color: #0367A6;
  }

ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.btn-cadastrar {
    width: 100%;
	font-size: 1em;
    padding: 10px 20px;
    color: #fff;
    background: #0099FF;
    border-radius: 0.25rem !important;
    border: 0px;
    margin-top: 0.5em;
    cursor: pointer;
    margin-bottom: 50px;
}

/* Estilizando o botão "Go" */
.go-button {
    background-color: #0099FF; /* Cor de fundo do botão */
    margin-top: 0.5em;
    color: #FFFFFF; /* Cor do texto do botão */
    border: none; /* Removendo borda padrão */
    border-radius: 0.25rem !important; /* Bordas arredondadas */
    padding: 10px 20px; /* Espaçamento interno */
    cursor: pointer; /* Estilo de cursor ao passar o mouse */
    font-size: 14px; /* Tamanho da fonte */
    width: 100%;
}

/* Efeitos de hover para o botão "Go" */
.go-button:hover {
    background-color: #0077CC; /* Escurecendo um pouco a cor ao passar o mouse */
}

/* Estilo para a tela de loading */
#loading {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 9999;
}

  
  .loader  {
    animation: rotate 1s infinite;  
    height: 50px;
    width: 50px;
  }
  
  .loader:before,
  .loader:after {   
    border-radius: 50%;
    content: '';
    display: block;
    height: 20px;  
    width: 20px;
  }
  .loader:before {
    animation: ball1 1s infinite;  
    background-color: #2f89c1;
    box-shadow: 30px 0 0 #00a096;
    margin-bottom: 10px;
  }
  .loader:after {
    animation: ball2 1s infinite; 
    background-color: #0367A6;
    box-shadow: 30px 0 0 #192A3E;
  }
  
  @keyframes rotate {
    0% { 
      -webkit-transform: rotate(0deg) scale(0.8); 
      -moz-transform: rotate(0deg) scale(0.8);
    }
    50% { 
      -webkit-transform: rotate(360deg) scale(1.2); 
      -moz-transform: rotate(360deg) scale(1.2);
    }
    100% { 
      -webkit-transform: rotate(720deg) scale(0.8); 
      -moz-transform: rotate(720deg) scale(0.8);
    }
  }
  
  @keyframes ball1 {
    0% {
      box-shadow: 30px 0 0 #0487D9;
    }
    50% {
      box-shadow: 0 0 0 #0487D9;
      margin-bottom: 0;
      -webkit-transform: translate(15px,15px);
      -moz-transform: translate(15px, 15px);
    }
    100% {
      box-shadow: 30px 0 0 #0487D9;
      margin-bottom: 10px;
    }
  }
  
  @keyframes ball2 {
    0% {
      box-shadow: 30px 0 0 #192A3E;
    }
    50% {
      box-shadow: 0 0 0 #192A3E;
      margin-top: -20px;
      -webkit-transform: translate(15px,15px);
      -moz-transform: translate(15px, 15px);
    }
    100% {
      box-shadow: 30px 0 0 #192A3E;
      margin-top: 0;
    }
  }

#redirect-home{
    text-decoration: none;
    align-self: left;
    text-align: left;
    margin-top: 10px;
    font-size: 1.2em;
    color: #CDB3C0;
}

#redirect-home:hover{
  color:#F5F5F7;
}

@media(max-width: 400px){
  .booking-card{
    width: 100%;
    flex: 0 0 140%;
  }
}