
main{
    padding-top: 170px;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 90%;
    min-height: 100vh;
    margin: 0 auto;
    align-items: center;
}
main h2{
    display: flex;
    justify-content: start;
}
#painel-doctor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
#painel-paciente{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
main h2{
    margin-bottom: 10px;
    font-size: 2em;
}

#confirmacoes-layout{
    width: 70%;
    margin: 0 auto;
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px;
}

#doctors-title{
    width: 100%;
    margin-bottom: 30px;
    font-size: 1.4em;
}

#card-section{
    border: 1px solid rgba(0, 0, 0, 0.175);
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
    transition: .3s;
}
#card-section:hover{
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.375);
}


#doctors-title, #pacientes-title{
    border-bottom: 1px solid black;
    font-weight: bold;
}

#pacientes-title{
    width: 100%;
    margin-top: 100px;
    margin-bottom: 30px;
    font-size: 1.4em;
}

.aceitar,.aceitar-doctor{
    background-color: rgb(2, 255, 103);
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 2px 15px;
    cursor: pointer;
    height: 50px;
    margin-bottom: 10px;
}

.rejeitar,.rejeitar-doctor{
    background-color: rgb(252, 45, 45);
    color: #fff;
    border-radius: 10px;
    border: none;
    padding: 2px 15px;
    cursor: pointer;
    height: 50px;
}

@media (max-width:580px){
   main{
    padding-top: 100px;
   }
   main h2{
    font-size: 1.7em;
   }
   #card-conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
   }
   #card-esquerda{
    text-align: center;
   }
}


/* cards*/


  /* Mixins */
  @keyframes cardsOpen {
    to {
      background: rgba(10, 72, 112, 0);
    }
  }
  
  @keyframes fadeIn {
    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }
  
  @keyframes slideDown {
    to {
      transform: translateY(0px);
    }
  }

  
  h2 {
    color: var(--blue);
    font-weight: 500;
  }
  
  ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
  }

  /* Hover nos cards */
.booking-card:hover::before {
    background: rgba(10, 72, 112, 0.6);
  }
  
  .booking-card:hover .book-container .content {
    opacity: 1;
    transform: translateY(0px);
  }
  
  .booking-card:hover .informations-container {
    transform: translateY(0px);
  }
  
  .booking-card:hover .informations-container .more-information {
    opacity: 1;
  }
  
  /* Estilos do cartão de reserva */
  .booking-card {
    position: sticky;
    width: 350px;
    display: flex;
    flex: 0 0 350px;
    flex-direction: column;
    margin: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
    overflow: hidden;
    background-position: center center;
    background-size: cover;
    text-align: center;
    color: var(--blue);
    transition: 0.3s;
  
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(10, 72, 112, 0);
      transition: 0.3s;
    }
  
    .book-container {
      height: 200px;
     
  
      .content {
        position: relative;
        opacity: 0;
        display: flex; 
        justify-content: center;
        flex-direction: column;
        height: 100%;
        width: 100%;
        transform: translateY(-200px);
        transition: 0.3s;

      }
    }
  
    .informations-container {
      flex: 1 0 auto;
      padding: 5px;
      width: 100%;
      background: var(--grey2);
      transform: translateY(206px);
      transition: 0.3s;
      background-color: #F5F5F7;
      display: flex;
      flex-direction: column;
      text-align: center;
      word-wrap: break-word;
      justify-content: center;
      align-items: center;
  
      .title {
        position: relative;
        left:0;
        right: 10%;

        /* padding-bottom: 10px;
        margin-bottom: 10px; */
        font-size: 0.95em;
  
        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          height: 3px;
          width: 50px;
          margin: auto;
          background: var(--blue);
        }
      }
  
      .price {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
  
        .icon {
          margin-right: 10px;
        }
      }
    }
  
    &:hover {
      animation: cardsOpen 0.3s forwards;
      #nome{
        display: none;
      }
    }
  }

  
  
  h1 {
    margin: 10px 20px;
  }
  
  .informations-container p {
    padding: 10px;
  }

  #nome{
    position: absolute;
    bottom: 0;
    padding: 15px;
    width: 100%;
    transition: .3s;
    background-color: #f5f5f7;
  }
