body {
    margin: 0;
}

.bg {
    background-image: url("../images/background-home.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

main {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #0367A6;
    width: 50%;
    user-select: none;
    background-color: #fff;
    padding: 20px;
}

main img {
    width: 45%;
    border-radius: 10px;
    margin-bottom: 40px;
}

main a {
    text-decoration: none;
    color: white;
    background-color: #192A3E;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 1.2em;
    margin-top: 50px;
    width: 25%;
}

main a:hover {
    background-color: #0367A6;
    cursor: pointer;
}

.conteudo-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.descricao{
    color: #aaa;
    padding: 10px;
}

@media (max-width: 729px){
    .bg{
        background-image: linear-gradient(to bottom, #2f89c1, #2882bc, #217cb7, #1975b2, #116fad, #1367a1, #155f96, #15578a, #1a4b76, #1b4063, #1b3550, #192a3e);    }
    main {
        background-image: linear-gradient(to bottom, #2f89c1, #2882bc, #217cb7, #1975b2, #116fad, #1367a1, #155f96, #15578a, #1a4b76, #1b4063, #1b3550, #192a3e);        width: 95%;
        right: 0;
      
        font-size: 0.9em;
    }
    main img{
        width: 75%;
    }
    .conteudo-card{
        color: white;
        font-size: 0.9em;
    }
}


@media (min-width: 730px) and (max-width: 1000px) {
    main img{
       width: 60%;
    }
}
