nav{
    background-color: #192A3E;
}
nav a{
    color:#fff;
    text-decoration: none;
    padding-right: 20px;
}
nav .navbar-toggler{
    border: 1px solid #fff;
   background-color: #fff;
}
footer{
    background-color: #192A3E;
}

main {
    margin-top: 13vh;
}

.btn-warning i {
    color: #fff;
}

.multiple-elements {
    display: flex;
    flex-direction: row !important;
    align-items: center !important;
}

.edit-pencil {
    background-color: #00000000;
    border: none;
    padding: 0 0.75em;
}

.edit-pencil i {
    padding: 0.3125rem;
    background-color: #34AFF9;
    color: #fff;
    border-radius: 0.16669rem;
    font-size: 10px;
}