main {
    width: 90%;
    padding-top: 200px;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: start;
    flex-direction: column;
}

#search-doctor {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#search-doctor p{
    margin-top: 20px;
}


#input-box {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 60%;
    margin-top: 20px;
}
#input-box select{
    width: 30%;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
}
#input-box input {
    padding: 2px;
    margin: 5px;
    border: none;
    border-bottom: 1px solid black;
    width: 40%;
    background-color: transparent;
}

#input-box input:focus {
    outline: none;
}

#view-doctors {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}

#cards-section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
   
}

dialog::backdrop{
    background-color: rgb(0 0 0/ .5);
}
dialog{
    box-shadow: 0 0 1em rgb(0 0 0 / .3);

}
#modal {
    width: 50%;
    height: 75%;
    border: none;
}

#modal::-webkit-scrollbar{
    width: 0.5em;
}
#modal::-webkit-scrollbar-track{
    background-color: #F5F5F7;
}
#modal::-webkit-scrollbar-thumb{
  background-color: #0367A6;
  border-radius: 10px;
}

#header-modal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: end;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
}
#header-modal h4{
    display: block;
    width: 100%;
    font-weight: bold;
    font-size: 1.2em;
}
#header-modal p{
    display: block;
    width: 100%;
}
#btn-close-modal {
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    background-color: transparent;
    align-self: start;
}

#modal-filter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

#modal-filter select {
    padding: 5px;
    margin: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: auto;
    text-align: center;
}

th,
td {
    padding: 10px;
    text-align: center;
    width: 120px;
}

th {
    font-weight: bold;
    background-color: #048ABF;
    color: #fff;
}


tr:nth-child(even) {
    background-color: #d2e2f8;
}

tr:hover:nth-child(1n + 2) {
    background-color: #048ABF;
    color: #fff;
}

#section-confirm{
    display: flex;
    justify-content: center;
    margin-top: 30px
}

#section-confirm button{
    border: none;
    background-color: #048ABF;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.rolagem-bloqueada{
    overflow: hidden;
}

.rolagem-permitida{
    overflow: auto;
}




@media (max-width: 722px){
    main {
        padding-top: 90px;
    }
    
    #input-box{
        flex-direction: column;
    }
    #input-box input, #input-box select{
        width: 100%;
    }
    #modal{
        width: 100%;
    }
}



/*Responsividade do modal*/
@media (max-width:1050px){
    #modal-filter{
        flex-direction: column;
        text-align: center;
    }
    #modal-filter select{
        width: 50%;
    }
}
@media (max-width: 400px){
    #modal{
        height: 80vh;
    }
}


/* responsividade dos cards*/
/* Variáveis */
:root {
    --font-size: 16px;
    --blue: #0487D9;
    --blue2: #e3ebf1;
    --black: #000;
    --grey: #7d7d7d;
    --grey2: #f0f0f0;
    --grey3: #e8e7e7;
    --grey4: #fdfdfd;
    --bluegrey: #A3AFBF;
    --orange: #ec992c;
  }
  
  /* Mixins */
  @keyframes cardsOpen {
    to {
      background: rgba(10, 72, 112, 0);
    }
  }
  
  @keyframes fadeIn {
    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }
  
  @keyframes slideDown {
    to {
      transform: translateY(0px);
    }
  }

  
  h2 {
    color: var(--blue);
    font-weight: 500;
  }
  
  ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
  }

  /* Hover nos cards */
.booking-card:hover::before {
    background: rgba(10, 72, 112, 0.6);
  }
  
  .booking-card:hover .book-container .content {
    opacity: 1;
    transform: translateY(0px);
  }
  
  .booking-card:hover .informations-container {
    transform: translateY(0px);
  }
  
  .booking-card:hover .informations-container .more-information {
    opacity: 1;
  }
  
  /* Estilos do cartão de reserva */
  .booking-card {
    position: sticky;
    width: 300px;
    display: flex;
    flex: 0 0 300px;
    flex-direction: column;
    margin: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
    overflow: hidden;
    background-position: center center;
    background-size: cover;
    text-align: center;
    color: var(--blue);
    transition: 0.3s;
  
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(10, 72, 112, 0);
      transition: 0.3s;
    }
  
    .book-container {
      height: 150px;
  
      .content {
        position: relative;
        opacity: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        transform: translateY(-200px);
        transition: 0.3s;
      }
    }
  
    .informations-container {
      flex: 1 0 auto;
      padding: 20px;
      background: var(--grey2);
      transform: translateY(206px);
      transition: 0.3s;
  
      .title {
        position: relative;
        padding-bottom: 10px;
        margin-bottom: 10px;
        font-weight: bold;
        font-size: 1.2em;
  
        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          height: 3px;
          width: 50px;
          margin: auto;
          background: var(--blue);
        }
      }
  
      .price {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
  
        .icon {
          margin-right: 10px;
        }
      }
  
      .more-information {
        opacity: 0;
        transition: 0.3s;
  
        .info-and-date-container {
          display: flex;
  
          .box {
            flex: 1 0;
            padding: 15px;
            margin-top: 20px;
            border-radius: 10px;
            background: white;
            font-weight: bold;
            font-size: 0.9em;
  
            .icon {
              margin-bottom: 5px;
            }
  
            &.info {
              color: var(--orange);
              margin-right: 10px;
            }
          }
        }
  
        .disclaimer {
          margin-top: 20px;
          font-size: 0.8em;
          color: var(--grey);
        }
      }
    }
  
    &:hover {
      animation: cardsOpen 0.3s forwards;
      #nome-doutor{
        display: none;
      }
    }
  }

  
  
  h1 {
    margin: 10px 20px;
  }
  

  #btn-open-modal{
    background-color: #fff;
    color: #048ABF;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
    transition: .3s;
  }
  #btn-open-modal:hover{
    background-color: #192A3E;
    color: #fff;
  }

  #nome-doutor{
    font-weight: bold;
    font-size: 1.2em;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #F5F5F7;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
  }