main {
    width: 90%;
    padding-top: 200px;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: start;
    flex-direction: column;
}

#search-doctor {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#search-doctor p{
    margin-top: 20px;
}


#input-box {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 60%;
    margin-top: 20px;
}
#input-box select{
    width: 30%;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
}
#input-box input {
    padding: 2px;
    margin: 5px;
    border: none;
    border-bottom: 1px solid black;
    width: 40%;
    background-color: transparent;
}

#input-box input:focus {
    outline: none;
}

#view-doctors {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}

#cards-section {
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
   
}

#card-individual {
    display: flex;
    flex-direction: column;
    color: #048ABF;
    padding: 15px;
    border-radius: 10px;
    border: 1.8px solid #048abf;
    border-style:groove;
    border-right: 5px solid #048ABF;
    border-bottom: 5px solid #048abf;
    margin: 50px;
    width: 30%;
    transition: .3s;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}
#card-individual:hover{
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.375);
}
#card-individual div {
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 10px;
}

#card-individual button {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 5px;
    transition: 0.5s;
    background-color: #048abf;
    color: #fff;
    cursor: pointer;
    text-align: center;
    justify-content: center;
}

#card-individual h5{
    font-weight: bold;
    color: #048ABF;
}
#card-individual button:hover {
    background-color: #449bbe;
    color: #fff;
}
dialog::backdrop{
    background-color: rgb(0 0 0/ .5);
}
dialog{
    box-shadow: 0 0 1em rgb(0 0 0 / .3);

}
#modal {
    width: 50%;
    height: 75%;
    border: none;
}

#modal::-webkit-scrollbar{
    width: 0.5em;
}
#modal::-webkit-scrollbar-track{
    background-color: #F5F5F7;
}
#modal::-webkit-scrollbar-thumb{
  background-color: #0367A6;
  border-radius: 10px;
}

#header-modal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: end;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
}
#header-modal h4{
    display: block;
    width: 100%;
    font-weight: bold;
    font-size: 1.2em;
}
#header-modal p{
    display: block;
    width: 100%;
}
#btn-close-modal {
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    background-color: transparent;
    align-self: start;
}

#modal-filter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

#modal-filter select {
    padding: 5px;
    margin: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: auto;
    text-align: center;
}

th,
td {
    padding: 10px;
    text-align: center;
    width: 120px;
}

th {
    font-weight: bold;
    background-color: #048ABF;
    color: #fff;
}


tr:nth-child(even) {
    background-color: #d2e2f8;
}

tr:hover:nth-child(1n + 2) {
    background-color: #048ABF;
    color: #fff;
}

#section-confirm{
    display: flex;
    justify-content: center;
    margin-top: 30px
}

#section-confirm button{
    border: none;
    background-color: #048ABF;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.rolagem-bloqueada{
    overflow: hidden;
}

.rolagem-permitida{
    overflow: auto;
}

@media (max-width: 1315px){
    #card-individual{
        width: 20%;
        height: 30vh;
    }
}

@media (max-width: 1000px){
    #card-individual{
        width: 25%;
        height: 30vh;
    }
}

@media (max-width:800px){
    #card-individual{
        width: 30%;
        height: 30vh;
    }
}

@media (max-width: 722px){
    main {
        padding-top: 90px;
    }
    #card-individual{
        height: 30vh;
        width: 50%;
    }
    #input-box{
        flex-direction: column;
    }
    #input-box input, #input-box select{
        width: 100%;
    }
    #modal{
        width: 100%;
    }
}

@media (max-width:400px){
    #card-individual{
        height: 30vh;
        width: 60%;
    }
}

/*Responsividade do modal*/
@media (max-width:1050px){
    #modal-filter{
        flex-direction: column;
        text-align: center;
    }
    #modal-filter select{
        width: 50%;
    }
}
@media (max-width: 400px){
    #modal{
        height: 80vh;
    }
}

.tag{
    background-color: #449bbe;
    padding: 10px;
    margin: 5px;
    border-radius: 50px;
    color: #fff;
}

