body{
    display: flex;
    width: 100vw;
    margin: 0 auto;
    font-family: "Poppins", sans-serif;
}

#modal {
    padding: 2em;
}
#text-error{
    font-size: 0.8em;
    width: 30%;
    justify-content: center;
    color: rgb(250, 83, 83);
}.text-sucess{
    font-size: 0.8em;
    font-weight: bold;
}
.container{
    width: 100vw;
    height: 100vh;
    padding: 0;
}
.forms-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 150px;
    width: 500px;
}

.forms-login img {
    user-select: none;
}
.forms-login input, .forms-login textarea{
    width: 350px;
    height: 30px;
    margin: 16px;
    box-sizing: border-box;
    border: none;
    border-bottom: 1.8px solid #2f89c1;
    padding: 5px;
    background-color: transparent;
}
.forms-login input:focus,
.forms-login textarea:focus {
  outline: none;
}
 #btn-entrar{
    width: 350px;
    height: 30px;
    margin: 32px;
    border: none;
    border-radius: 5px;
    padding: 5px;
    background: #0367A6;
    color: #F2F2F2 ;
    cursor: pointer;
    user-select: none;
}
#button-modal{
    border: none;
    text-decoration: underline;
    font-size: 0.92em;
    margin-left: -4px;
    background: #fff;
}
#button-modal:hover{
    background-color: #fff;
    color: #000;
    cursor: pointer;
}

.forms-login img{
    margin-top: -20px;
    height: 200px;
    user-select: none;
}
#btn-entrar:hover{
    background-color: #2f89c1;
    color: #F2F2F2;
}
.forms-login h3 {
    font-size: 2rem;
    color:  #0367A6;
    user-select: none;
}
.forms-login p{
    user-select: none;
}
.forms-login a{
    color: #0367A6;
    text-decoration: none;
    user-select: none;
}
.forms-login a:hover{
    text-decoration: underline;
}
.forms-login .a-doutor{
    color: grey;
    margin-bottom: 10px;
}
.box-usuario{
    display: flex;
    justify-content: space-around;
}
.tipo-usuario {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.tipo-usuario p{
    margin-left: -15px;
    font-size: 0.8em;
}

.box-usuario {
    margin-top: -20px;
}

.cb1 {
	accent-color: #2f89c1;
	font-size: 1em;
	color: #fff !important;
	cursor: pointer;
}

input[type="checkbox"] {
    width: 1.2em !important;
	height: 1.2em !important;
    margin: 0em 1em;
}


#circulo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    float: left;
    width: 50vw;
    height: 100vh;
    shape-outside: circle(50% at 30%);
    clip-path: circle(51% at 5%);
    background: #0367A6;
    user-select: none;
  }

#circulo img{
  margin-right: 70px;
  width: 400px;
  user-select: none;
}
dialog::backdrop{
    background-color: rgb( 0 0 0/ .5);
}
dialog {
    border: none;
    border-radius: .5rem;
    box-shadow:  0 0 1em rgb (0 0 0 /.3);
    width: 30%;
}


/* RESPONSIVIDADE */
@media (max-width: 1500px){
    body{
        display:flex;
        align-items: center;
        justify-content: space-between;
        margin: 0;
    }
    /* #circulo{
        max-width: 800px;
        max-height: 800px;
    } */
    .forms-login{
        margin-top: 75px;
        max-width: 320px;
        max-height: 700px;
    }
}

@media (min-width:901px) and (max-width:1228px){
   .forms-login{
    position: absolute;
    top: 2%;
    right: 10%;
   }
}


@media (max-width: 900px) {
   
    .container{
        display: flex;
        justify-content: center;
    }
    #circulo{
       display: none;
    }
    .forms-login{
        max-width: 320px;
        max-height: 700px;
    }
    #modal{
        width: 70%;
       }  
    
    .box-usuario {
        flex-direction: column;
    } 
    .tipo-usuario {
        width: 100%;
    }
}
  @media (max-width: 400px) {
    body{
        margin:10px;
    }
    .forms-login{
        max-width: 250px;
        max-height: 650px;
    }
    .forms-login input{
        max-width: 220px;
    }

    #modal{
        width: 70%;
       }
  }
  

  .form {
    padding: 0 40px 30px;
}

.form-control {
    display: flex;
    flex-direction: row;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 10px;
    padding-bottom: 20px;
    height: 100px;
}

.form-control label {
    display: block;
    width: 100%;
    color: #828CAD;
}

.form-control input {
    display: flex;
    font-size: 14px;
    width: 80%;
    margin-top: 10px;
    border: none;
    border-bottom: 1.8px solid #2f89c1;
    background-color: transparent;
}

.form-control.success input {
    border-bottom: 2px solid #4ECA64;
}

.form-control.error input {
    border-bottom: 2px solid #DB5A5A;
}


.header-modal{
    display: flex;
    justify-content: space-between;
}
#btn-close-modal{
    background: none;
    cursor: pointer;
    border: none;
    font-size: 30px;
}   

#btn-submit {
    background-color: #0367A6;
    border-radius: 5px;
    color: #fff;
    padding: 15px;
    font-size: 15px;
    font-weight: 600;
    width: 100%;
    border: none;
    margin-top: 5px;

    cursor: pointer;
}

#btn-submit:hover {
    background-color: #2f89c1;
    transition: 0.3s;
}


/* Estilo para a tela de loading */
#loading {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 9999;
}

  
  .loader  {
    animation: rotate 1s infinite;  
    height: 50px;
    width: 50px;
  }
  
  .loader:before,
  .loader:after {   
    border-radius: 50%;
    content: '';
    display: block;
    height: 20px;  
    width: 20px;
  }
  .loader:before {
    animation: ball1 1s infinite;  
    background-color: #2f89c1;
    box-shadow: 30px 0 0 #00a096;
    margin-bottom: 10px;
  }
  .loader:after {
    animation: ball2 1s infinite; 
    background-color: #0367A6;
    box-shadow: 30px 0 0 #192A3E;
  }
  
  @keyframes rotate {
    0% { 
      -webkit-transform: rotate(0deg) scale(0.8); 
      -moz-transform: rotate(0deg) scale(0.8);
    }
    50% { 
      -webkit-transform: rotate(360deg) scale(1.2); 
      -moz-transform: rotate(360deg) scale(1.2);
    }
    100% { 
      -webkit-transform: rotate(720deg) scale(0.8); 
      -moz-transform: rotate(720deg) scale(0.8);
    }
  }
  
  @keyframes ball1 {
    0% {
      box-shadow: 30px 0 0 #0487D9;
    }
    50% {
      box-shadow: 0 0 0 #0487D9;
      margin-bottom: 0;
      -webkit-transform: translate(15px,15px);
      -moz-transform: translate(15px, 15px);
    }
    100% {
      box-shadow: 30px 0 0 #0487D9;
      margin-bottom: 10px;
    }
  }
  
  @keyframes ball2 {
    0% {
      box-shadow: 30px 0 0 #192A3E;
    }
    50% {
      box-shadow: 0 0 0 #192A3E;
      margin-top: -20px;
      -webkit-transform: translate(15px,15px);
      -moz-transform: translate(15px, 15px);
    }
    100% {
      box-shadow: 30px 0 0 #192A3E;
      margin-top: 0;
    }
  }