body{
    display: flex;
    width: calc(100% - 10px);
    margin: 0;
    font-family: "Popins", sans-serif;
}
img {
    user-select: none;
}

.forms{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 150px;
    width: 500px;
}
input, textarea{
    width: 300px;
    height: 30px;
    margin: 10px;
    box-sizing: border-box;
    border: none;
    border-bottom: 1.8px solid #192A3E;
    padding: 5px;
    background-color: transparent;
}
input:focus,
textarea:focus {
  outline: none;
}
#btn-entrar{
    width: 300px;
    height: 30px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    padding: 5px;
    background: #192A3E;
    color: #F2F2F2 ;
    cursor: pointer;
    user-select: none;
}
#btn-entrar:hover{
    background-color: #2d4b6d;
    color: #F2F2F2;
}
#button-modal{
    border: none;
    background: none;
    font-size: 0.92em;
    margin-left: -4px;
}
#button-modal:hover{
    background-color: #fff;
    color: #000;
    cursor: pointer;
    text-decoration: underline;
}
#btn-close-modal{
    width: 300px;
    height: 30px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    padding: 5px;
    background: #192A3E;
    color: #F2F2F2 ;
    cursor: pointer;
    user-select: none;
}
#btn-close-modal:hover{
    background-color: #2d4b6d;
    color: #F2F2F2;
}
.forms img{
    margin-top: 80px;
    height: 50px;
    user-select: none;
}
.forms h3 {
    font-size: 2rem;
    color:  #192A3E;
    user-select: none;
}
.forms p{
    user-select: none;
}
.forms a{
    color: #192A3E;
    text-decoration: none;
    user-select: none;
}
.forms a:hover{
    text-decoration: underline;
}
.forms .a-doutor{
    color: grey;
    margin-bottom: 10px;
}

#circulo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    float: left;
    width: 775px;
    height: 775px;
    shape-outside: circle(50% at 30%);
    clip-path: circle(50% at 5%);
    background: #192A3E;
    user-select: none;
  }

#circulo img{
  width: 360px;
  user-select: none;
}
dialog::backdrop{
    background-color: rgb( 0 0 0 /.5);
}
    dialog {
        border: none;
        border-radius: .5rem;
        box-shadow:  0 0 1em rgb (0 0 0 /.3);
        width: 30%;
    }
    dialog form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        user-select: none;
    }


/* RESPONSIVIDADE */
@media (max-width: 1500px){
    body{
        display:flex;
        align-items: center;
        justify-content: space-between;
        margin: 0;
    }
    #circulo{
        margin-right: 100px;
        max-width: 800px;
        max-height: 800px;
    }
    .forms{
        margin-top: 75px;
        max-width: 320px;
        max-height: 700px;
    }
}

@media (min-width:901px) and (max-width:1228px){
   .forms{
    position: absolute;
    top: 2%;
    right: 10%;
   }
}


@media (max-width: 900px) {
    body{
        display:flex;
       justify-content: center;
        align-items: center;
        margin: 10px;
    }
    #circulo{
       display: none;
    }
    .forms{
        max-width: 320px;
        max-height: 700px;
    }
}
  @media (max-width: 400px) {
    body{
        margin:10px;
    }
    .forms{
        max-width: 250px;
        max-height: 650px;
    }
    .forms input{
        max-width: 220px;
    }
    .forms button{
        max-width: 200px;
    }
  }
  