main {
    width: 60%;
    margin: 0 auto;
    padding-top: 150px;
    padding-bottom: 200px;
    display: flex;
    justify-content: center;
}

#dados-usuario {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

svg {
    width: 45%;
    display: flex;
    align-self: center;
}


.dados-user {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}

.dados-user h3 {
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
    padding-bottom: 15px;
}

.dados-user p {
    padding-bottom: 15px;
}

.dados-user span {
    font-weight: bold;
    color: #0367A6;
}

@media (max-width:400px) {
    main {
        padding-top: 100px;
    }

    #dados-usuario {
        font-size: 0.8em;
        word-wrap: break-word;
    }
}