/* Variáveis */
:root {
    --font-size: 16px;
    --blue: #0487D9;
    --blue2: #e3ebf1;
    --black: #000;
    --grey: #7d7d7d;
    --grey2: #f0f0f0;
    --grey3: #e8e7e7;
    --grey4: #fdfdfd;
    --bluegrey: #A3AFBF;
    --orange: #ec992c;
  }
  
  /* Mixins */
  @keyframes cardsOpen {
    to {
      background: rgba(10, 72, 112, 0);
    }
  }
  
  @keyframes fadeIn {
    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }
  
  @keyframes slideDown {
    to {
      transform: translateY(0px);
    }
  }

  
  h2 {
    color: var(--blue);
    font-weight: 500;
  }
  
  ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
  }

  /* Hover nos cards */
.booking-card:hover::before {
    background: rgba(10, 72, 112, 0.6);
  }
  
  .booking-card:hover .book-container .content {
    opacity: 1;
    transform: translateY(0px);
  }
  
  .booking-card:hover .informations-container {
    transform: translateY(0px);
  }
  
  .booking-card:hover .informations-container .more-information {
    opacity: 1;
  }
  
  /* Estilos do cartão de reserva */
  .booking-card {
    position: sticky;
    width: 300px;
    display: flex;
    flex: 0 0 300px;
    flex-direction: column;
    margin: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
    overflow: hidden;
    background-position: center center;
    background-size: cover;
    text-align: center;
    color: var(--blue);
    transition: 0.3s;
  
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(10, 72, 112, 0);
      transition: 0.3s;
    }
  
    .book-container {
      height: 200px;
  
      .content {
        position: relative;
        opacity: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        transform: translateY(-200px);
        transition: 0.3s;

      }
    }
  
    .informations-container {
      flex: 1 0 auto;
      padding: 20px;
      background: var(--grey2);
      transform: translateY(206px);
      transition: 0.3s;
  
      .title {
        position: relative;
        padding-bottom: 10px;
        margin-bottom: 10px;
        font-weight: bold;
        font-size: 1.2em;
  
        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          height: 3px;
          width: 50px;
          margin: auto;
          background: var(--blue);
        }
      }
  
      .price {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
  
        .icon {
          margin-right: 10px;
        }
      }
  
      .more-information {
        opacity: 0;
        transition: 0.3s;
  
        .info-and-date-container {
          display: flex;
  
          .box {
            flex: 1 0;
            padding: 15px;
            margin-top: 20px;
            border-radius: 10px;
            background: white;
            font-weight: bold;
            font-size: 0.9em;
  
            .icon {
              margin-bottom: 5px;
            }
  
            &.info {
              color: var(--orange);
              margin-right: 10px;
            }
          }
        }
  
        .disclaimer {
          margin-top: 20px;
          font-size: 0.8em;
          color: var(--grey);
        }
      }
    }
  
    &:hover {
      animation: cardsOpen 0.3s forwards;
    }
  }

  
  
  h1 {
    margin: 10px 20px;
  }
  